{% extends "stock/base.html" %}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- ABOUT US -->


                    <!-- 내용 -->
                    

                        <!-- 1 -->
                        <div class="card shadow">
             
                                <div class="card-body">
                                        <p>
                                            <h1 class="m-0 font-weight-bold text-primary text-center">
                                                We are STOCKer
                                            </h1>
                                        </p>
                                        
                                        <p>
                                            <h5 class="m-0 font-weight-bold text-primary text-center">
                                                To provide the most accurate stock information
                                            </h5>
                                        </p>
                                        <br>
                                        <p>
                                            <h6 class="m-0 font-weight-bold text-primary text-center">
                                                Many people around the world use the stock market. Someone for fun, some for making a lot of money, some for a job. One day, we <br>wondered whether we could provide better services to these users. So, we decided to use auto TA technology to predict the future<br> stock graph and notify our users through an alarm.
                                            </h6>
                                        </p>
                                        <br>
                                        <p>
                                            <h6 class="m-0 font-weight-bold text-primary text-center">
                                            STOCKer wants to solve the biggest problems in the stock market. We are 8 smart and cool computer science students. We're developers, <br>desiners, and data scientists. Corona-19 prevented us from working together in certain spaces, but we were able to work efficiently using Zoom or Google Meeting. 
                                            </h6>
                                        </p>
                                        <br>
                                        <p>
                                            <h6 class="m-0 font-weight-bold text-primary text-center">
                                                FASTOCK was founded in 2021 by CAU univ and Peoplespace INC. It started with computer science students sharing research and <br>ideas. First, we started with an analysis of the stock market first, then we identified market trends to understand what stock market users needed, and we developed a program tailored to their needs.
                                            </h6>
                                        </p>
                                        <br>
                                        <p>
                                            <h6 class="m-0 font-weight-bold text-primary text-center">
                                                FASTOCK currently boasts 96 percent accuracy, which is among the best in the industry. We plan to further expand this business in <br>connection with numerous global fund management and stock markets in the future.
                                            </h6>
                                        </p>
                                </div>
                            </div>
                        
                    

                    

            </div>

 {% endblock %}            



 