{% extends "stock/base.html" %}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- ABOUT US -->
                    <ul class="list-inline"> 
                        <h1 class="m-0 font-weight-bold text-primary">ABOUT US</h1>
                    </ul>

                    <!-- 내용 -->
                    <div class="row">

                        <!-- 1 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">1</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">2</h6>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                    <div class="row">

                        <!-- 3 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">3</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">4</h6>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                    <div class="row">

                        <!-- 5 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">5</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 6 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">6</h6>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                    <div class="row">

                        <!-- 7 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">7</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 8 -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">NAME</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <h6 class="m-0 font-weight-bold text-primary">8</h6>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

            </div>

 {% endblock %}            



 