{% extends "stock/base.html" %}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- ABOUT US -->
                    {% if user.mail_alarm_time_hour %}
                    <ul class="list-inline"> 
                        <h1 class="mb-4 text-primary">Update Mail Notice</h1>
                        <div>현재 설정 시간 : {{ user.mail_alarm_time_hour}} H {{ user.mail_alarm_time_minute}} M</div>
                    </ul>
                    {% else %}
                    <ul class="list-inline"> 
                        <h1 class="mb-4 text-primary">Set Mail Notice</h1>
                    </ul>
                    {% endif %}

                    <!-- 내용 -->
                    <!-- <div class="row"> -->
                        <div class="card text-center shadow">
                            <div class="card-header"></div>
                            <div class="card-body ">
                              <!-- <h5 class="card-title"></h5> -->
                              <p class="card-text">
                                <form action="" method="POST" class="text-primary">
                                    {% csrf_token %}
                                    <p>The mail will be sent to the e-mail you wrote when you signup!</p>
                                    <p>You can set the alarm time zone in an hour or five minutes.</p>
                                    <input type="number" min="9" max="14" step="1" value="시" name="hour"/><span>h</span>
                                    <input type="number" min="0" max="100"  step ="5" value="분" name="minute" /><span>min</span>
                                    <input class="btn btn-outline-primary my-4" type="submit" value="save" name="submit" onclick="return confirm('Complete notice setting?');">
                              
                                </form>
                              </p>
                             <!-- <input class="btn btn-primary" type="submit" value="저장하기" name="submit" onclick="return confirm('알람 설정을 마치시겠습니까?');"> -->
                            </div>
                          </div>                      
                    <!-- </div> -->
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
            </div>

 {% endblock %}            



 

<!-- 
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="저장하기" name="submit">
    
</form> -->

<!-- <form action="" method="POST">
    {% csrf_token %}
    <p>한시간,5분단위로 메일알람 시간대 설정 가능합니다</p>
    <input type="number" min="9" max="14" step="1" value="시" name="hour"/><span>시</span>
    <input type="number" min="0" max="100"  step ="5" value="분" name="minute" /><span>분</span>
    <input type="submit" value="저장하기" name="submit" onclick="return confirm('알람 설정을 마치시겠습니까?');">
</form> -->
