{% extends "stock/base.html" %}

{% block contents %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="m-0 text-primary">Bookmark List</h1>
    <!-- <h4 class="mb-4">{{user.username}}'s Bookmark Items! </h4> -->

    {% if request.user.mail_alarm_time_hour %}
        <p><a href='{% url "alarm" %}' class="d-none d-sm-inline-block btn  btn-primary shadow-sm"><i
            class="fas fa-bell fa-sm text-white-50"></i> Update Mail notice</a></p>
        <div>현재 설정 시간 : {{ user.mail_alarm_time_hour}} H {{ user.mail_alarm_time_minute}} M</div>
    {% else %}
        <p><a href='{% url "alarm" %}' class="d-none d-sm-inline-block btn  btn-primary shadow-sm"><i
            class="fas fa-bell fa-sm text-white-50"></i> Set Mail Notice</a></p>
    {% endif %}



    
  </div>
  <!-- <h1 class="h3 mb-2 text-gray-800">Bookmark List</h1>
  <h4 class="mb-4">Check Your Bookmark Items! </h4>
  <p>{{user.username}}님이 북마크한 종목들입니다!</p> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"></h6>
      </div>
      <div class="card-body">
           <!-- !!!!!Notice!!!!!-->
          <!-- {% for bookmark in bookmarks %}
        <div><a class = wow href="{% url 'stock_detail' stock_code=bookmark.stock.stock_code %}">{{ bookmark }}</a></div>
          {% endfor %}  -->
          {% if not bookmarks %}
          <h4 class="text-center">Add your first bookmark item!
            <a href='{% url "market_list_kospi" %}' style="font-size:medium;">Go to market</a>
          </h4>
          
            {% else %}
          <div class="table-responsive text-center">
            <h4 class="mb-4 text-primary">{{user.username}}'s Bookmark Items! </h4>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr class="text-primary bg-gray-100"> 
                          <th>STOCK</th>
                          <th>FLUCTUATION</th>
                          <th>FLUCTUATION RATE</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for bookmark in bookmarks %}
                    <tr>
                        <!-- <td>{{ forloop.counter }}</td> -->
                        <td>
                            <a class = wow href="{% url 'stock_detail' stock_code=bookmark.stock.stock_code %}">{{ bookmark }}</a>
                        </td>
                        <td class="text-dark">{{ bookmark.stock.fluctuation_width }}</td>
            
                        {% if bookmark.stock.increase %}
                            <td class="text-danger">{{ bookmark.stock.increase }}</td>
                        {% else %}
                            <td class="text-danger">{{ bookmark.stock.decrease }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %} 
                  </tbody>
              </table>
          </div>
          {% endif %}
      </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- {% if request.user.mail_alarm_time_hour %}
    <p><a href="{% url 'alarm' %}" class="top-menu">메일 알람 수정하기</a></p>
{% else %}
    <p><a href="{% url 'alarm' %}" class="top-menu">메일 알람 생성하기</a></p>
{% endif %} -->






{% endblock %}
<!-- 테스팅 하기 위한 코드입니다.-->