{% extends "stock/base.html" %}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                        <h2 class="mb-2 text-primary">Guideline</h2>
                        <h4 class="mb-4">Use Fastock most wisely! </h4>
                        <!-- Membership Guidelin -->
                        <div class="card shadow mb-4 ">
                            <div class="accordion p-4" id="accordionExample">
                                <h3>&nbsp;&nbsp;Information Topics</h3>
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        About TA
                                      </button>
                                    </h2>
                                  </div>

                                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        &nbsp;&nbsp;TA usually means "Technical Analysis" Uses the observation of share price movements in the market.
                                        <br/>&nbsp;&nbsp;Distinct from Fundamental Analysis, Technical Analysis uses only current and historical market price and volume information.
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Model Accuracy
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                      <div class="card-body">
                                          &nbsp;&nbsp;Model accuracy is the probability that the pattern predicted by the machine learning model we created matches the actual stock fluctuations.
                                          <br/>&nbsp;&nbsp;Therefore, the lower the error rate, the higher the accuracy of the model.
                                          <br/>&nbsp;&nbsp;Our model shows approximately 96% accuracy (i.e., 4% error rate).
                                      </div>
                                  </div>
                                </div>
                              </div>
                                <div class="accordion p-4" id="accordionExample2">
                                    <h3>&nbsp;&nbsp;Membership</h3>
                                    <div class="card">
                                      <div class="card-header" id="heading2Two">
                                        <h2 class="mb-0">
                                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2One" aria-expanded="true" aria-controls="collapse2One">
                                              Individual Membership
                                          </button>
                                        </h2>
                                      </div>

                                      <div id="collapse2One" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            &nbsp;&nbsp;Will be provided soon.
                                         </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header" id="heading2Two">
                                          <h2 class="mb-0">
                                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2Two" aria-expanded="false" aria-controls="collapse2Two">
                                            Corporate Membership
                                          </button>
                                        </h2>
                                      </div>
                                      <div id="collapse2Two" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            &nbsp;&nbsp;Will be provided soon.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header" id="heading2Three">
                                        <h2 class="mb-0">
                                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2Three" aria-expanded="false" aria-controls="collapse2Three">
                                            Apply/Cancel Membership
                                          </button>
                                        </h2>
                                      </div>
                                      <div id="collapse2Three" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            &nbsp;&nbsp;Will be provided soon.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              
                        </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}