{% extends "stock/base.html" %}

{% load staticfiles%}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Home</h1>
                    </div>
                    <div class="row">
                        <!-- KOSPI -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"><a href='{% url "market_list_kospi" %}'>KOSPI</a></h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        <center>
                                        <img src="../static/stock_market/kospi.png"  class= "chart-img">
                                        <div class="kospi_detail">
                                            {% for kospidetail in kospidetails %}
                                                <div>Date updated : {{ kospidetail.updated_date |date:"Y-m-d" }}
                                                <div>Open : {{ kospidetail.open }} &nbsp;&nbsp; Close : {{ kospidetail.close}}</div>
                                                <div>Highest :{{ kospidetail.high }} &nbsp;&nbsp; Lowest :{{ kospidetail.low }}</div>
                                                <div>Transaction volume : {{ kospidetail.volume }} &nbsp;&nbsp; Fluctuation rate : {{ kospidetail.change }}</div>
                                            {% endfor %}
                                        </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- KOSDAQ -->

                        <!-- NASDAQ -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"><a href='{% url "market_list_nasdaq" %}'>NASDAQ</a></h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        <center>
                                            <img src="../static/stock_market/nasdaq.png"  class= "chart-img">
                                            <div class="kospi_detail">
                                            {% for nasdaqdetail in nasdaqdetails %}
                                                <div>Date updated : {{ nasdaqdetail.updated_date |date:"Y-m-d" }}</div>
                                                <div>Open : {{ nasdaqdetail.open }} &nbsp;&nbsp; Close : {{ nasdaqdetail.close}}</div>
                                                <div>Highest :{{ nasdaqdetail.high }} &nbsp;&nbsp; Lowest :{{ nasdaqdetail.low }}</div>
                                                <div>Transaction volume : {{ nasdaqdetail.volume }} &nbsp;&nbsp; Fluctuation rate : {{ nasdaqdetail.change }}</div>
                                            {% endfor %}
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Bookmark -->
                        <div class="6 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Bookmark</h6>
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-primary btn-l" type="button" href="{% url 'bookmark_list' %}">MORE</a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <!-- 유저가 로그인 되어 있을 때랑 아닐 때랑 분리 -->
                                {% if user.is_authenticated %}
                                    {% if bookmarks %}
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                    <tr class="text-primary bg-gray-100">
                                                        <th>STOCK</th>
                                                        <th>PRESENT PRICE</th>
                                                        <th>FLUCTUATION</th>
                                                        <th>FLUCTUATION RATE</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for b in bookmarks %}
                                                            <tr>
                                                                <td>{{ b.company_name }}
                                                                <td>{{ b.open }}</td>
                                                                {% if b.increase %}
                                                                    <td class="text-danger">{{ b.fluctuation_width }}</td>
                                                                    <td class="text-danger">{{ b.increase }}↑</td>
                                                                {% elif b.decrease %}
                                                                    <td class="text-primary">{{ b.fluctuation_width }}</td>
                                                                    <td class="text-primary">{{ b.decrease }}↓</td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-body">
                                            
                                                <div> 
                                                    <a class="btn btn-primary btn-block"  type="button"  href="{% url 'bookmark_list' %}"> Make your own list! </a>
                                                </div>
                                            
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="card-body">
                                            <div> 
                                                <a class="btn btn-primary btn-block" type="button"  href="{% url 'login' %}">Login Required </a>
                                            </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- 상승률 TOP5 -->
                        <div class="6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">RISE TOP5</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table>
                                    <!-- {{ increasechart }} -->
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr class="text-primary bg-gray-100">
                                            <th>STOCK</th>
                                            <th>FLUCTUATION RATE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for b in increases %}
                                                <tr>
                                                    <td>
                                                        <a class = wow href="{% url 'stock_detail' stock_code=b.stock_code %}">{{ b.company_name }}</a>
                                                    </td>
                                                    <td class="text-danger">{{ b.increase }}↑</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- 하락률 TOP5 -->
                        <div class="6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">DROP TOP5</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table>
                                        <table>
                                            <!-- {{ increasechart }} -->
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                <tr class="text-primary bg-gray-100">
                                                    <th>STOCK</th>
                                                    <th>FLUCTUATION RATE</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for b in decreases %}
                                                        <tr>
                                                            <td>
                                                                <a class = wow href="{% url 'stock_detail' stock_code=b.stock_code %}">{{ b.company_name }}</a>
                                                            </td>
                                                            <td class="text-primary">{{ b.decrease }}↓</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </table>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">World news</h6>
                                </div>
                                <div class="card-body">
                                    {% for n in news.all %}
                                        <div class="row">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <img src="{{ n.newsImage }}" alt="newImage" width=320 style="height: 50%;">
                                            <div class="news">
                                                <h5 class="title">
                                                    <a href="{{ n.redirectUrl }}"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ n.title }}</a>
                                                </h5>
                                                <h6 class="description">
                                                    &nbsp;&nbsp;&nbsp;&nbsp; {{ n.description }}
                                                </h6>
                                            </div>
                                        </div>
                                        <hr/>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Main Content -->
{% endblock %}