{% extends "stock/base.html" %}

{% load staticfiles%}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Home</h1>
                    </div>
                    <div class="row">
                        <!-- KOSPI -->
                        <div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"><a href='{% url "market_list_kospi" %}'>KOSPI</a></h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <div class="kospi_chart_month"><img src="../static/kospi.png"></div>
                                        <div class="kospi_detail"></div>
                                        <!-- <canvas id="myAreaChart"></canvas> -->

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- KOSDAQ -->
                        <div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">KOSDAQ</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <!-- <canvas id="myAreaChart"></canvas> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- NASDAQ -->
                        <div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"><a href='{% url "market_list_nasdaq" %}'>NASDAQ</a></h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <div class="nasdaq_chart_month"><img src="../static/nasdaq.png"></div>
                                        <div class="nasdaq_detail"></div>
                                        <!-- <canvas id="myAreaChart"></canvas> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">세계뉴스</h6>
                                </div>
                                <div class="card-body">
                                    {% for n in news.all %}
                                        {% comment %} 아직 이미지랑 URL 오류 있습니다! {% endcomment %}
                                        {{ n.NewsImage }}
                                        <a href=n.RedirectUrl>{{ n.title }}</a>
                                        {{ n.description }}
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Bookmark -->
                        <div class="6 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Bookmark</h6>
                                    <div class="input-group-append">
                                        <a class="btn btn-primary btn-l" type="button" href="{% url 'bookmark_list' %}">MORE</a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <!-- 유저가 로그인 되어 있을 때랑 아닐 때랑 분리 -->
                                {% if user.is_authenticated %}
                                    {% if bookmarks %}
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                    <tr class="text-primary bg-gray-100">
                                                        <th>STOCK</th>
                                                        <th>PRESENT PRICE</th>
                                                        <th>FLUCTUATION</th>
                                                        <th>FLUCTUATION RATE</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for b in bookmarks %}
                                                            <tr>
                                                                <td>{{ b.company_name }}</td>
                                                                <td>{{ b.open }}</td>
                                                                {% if b.increase %}
                                                                    <td class="text-danger">{{ b.fluctuation_width }}</td>
                                                                    <td class="text-danger">{{ b.increase }}↑</td>
                                                                {% elif b.decrease %}
                                                                    <td class="text-primary">{{ b.fluctuation_width }}</td>
                                                                    <td class="text-primary">{{ b.decrease }}↓</td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-body">
                                            <div class="chart-area">
                                                <div> <!--버튼 위치 수정 예정-->
                                                    <a class="btn btn-primary btn-block" type="button"  href="{% url 'bookmark_list' %}">{{ user.username }}님, 장바구니 기능을 이용해보세요 </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <div> <!--버튼 위치 수정 예정-->
                                                <a class="btn btn-primary btn-block" type="button"  href="{% url 'bookmark_list' %}">Login Required </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- 상승률 TOP5 -->
                        <div class="6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">상승률 TOP5</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table>
                                    <!-- {{ increasechart }} -->
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr class="text-primary bg-gray-100">
                                            <th>STOCK</th>
                                            <th>FLUCTUATION RATE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for b in increases %}
                                                <tr>
                                                    <td>{{ b.company_name }}</td>
                                                    <td class="text-danger">{{ b.increase }}↑</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- 하락률 TOP5 -->
                        <div class="6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">하락률 TOP5</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table>
                                        <table>
                                            <!-- {{ increasechart }} -->
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                <tr class="text-primary bg-gray-100">
                                                    <th>STOCK</th>
                                                    <th>FLUCTUATION RATE</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for b in decreases %}
                                                        <tr>
                                                            <td>{{ b.company_name }}</td>
                                                            <td class="text-danger">{{ b.decrease }}↓</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </table>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Main Content -->
{% endblock %}