{% extends "stock/base.html" %}
{% load staticfiles %}

{% block header %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block contents %}
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">fastock</div>                
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <form method="POST" action=".">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                        placeholder="{{ field.label }}" name="{{ field.name }}" />
                </div>
                {% if field.errors %}
                <span style="color: red">{{ field.errors }}</span>
                {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary text-uppercase">login</button>
            </form>
        </div>
    </div>
</header>

{% endblock %}