
{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        .hello {
            font-family: 'Noto Serif KR', serif;
        }
    </style>
    

</head>
<body>
    
    
    <div ><img src='cid:for_mail.PNG' width="10%", height="5%"/></div>
    <br/>
                                       
    {% if bookmarks %}
        <div style="font-size: 18px; font-family: 'Roboto', sans-serif; border-radius: 5px;padding: 0.6em 1em;background: #F1F1F3;"> 📊 Prediction Report </div>
        <br/>
        <div style="font-family: 'Roboto', sans-serif;text-indent: 2em;"> <b>{{user.username}}</b>님께서 Bookmark한 종목(들)은 아래와 같습니다!  </div>
        <hr/>
        <br/>
        {% for bookmark in bookmarks %}
        <div style="font-size: 13px; font-family: 'Roboto', sans-serif;text-indent: 2em;" ><b>{{ bookmark.stock.company_name}}</b>종목의 예측결과</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 3em;">예측 패턴:{{ bookmark.stock.last_pattern}}</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 3em;">예측 퍼센트:{{ bookmark.stock.predict_percentage}}</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 3em;">상승?하락?:{{ bookmark.stock.increase_or_decrease}}<hr/></div>
        
        {% endfor %}
        
    {% else %}
        <div style="font-size: 18px; font-family: 'Roboto', sans-serif; border-radius: 5px;padding: 0.6em 1em;background: #F1F1F3;"> 📊Prediction Report </div>
        <br/>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 2em;"> <b>{{user.username}}</b>님께서 Bookmark 해 둔 종목이 없습니다!</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 2em;"> 북마크를 한 종목이 있다면 메일이 조금 더 의미있어질 겁니다!! </div>
    
    {% endif %}
    
    <br/>
    <br/>

    <div style="font-family: 'Roboto', sans-serif;"> 자세한 정보가 더 궁금하다면? 👉https://www.fastock.com</div>
    <div style="font-family: 'Roboto', sans-serif;">☎ 문의 autota87@gmail.com 또는 사이트의 질문게시판을 활용해주세요! </div>
    <div style="float:left; font-family: 'Roboto', sans-serif;" >- fastock 드림 -</div>
</body>
</html>
{% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FASTOCK</title>


</head>

<body>

    

        <center>
            <table bgcolor="#f8f9fa" border="0" cellpadding="0" cellspacing="0" height="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #f8f9fa; border-collapse: collapse; height: 100% !important; margin: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0; width: 100% !important" width="100%">
                <tbody><tr><td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-top-width: 0; height: 100% !important; margin: 0; mso-line-height-rule: exactly; padding: 20px 10px; width: 100% !important">
                        <table class="templateContainer" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; border: 0; max-width: 600px; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                            <tbody><tr><td align="center" valign="top" bgcolor="#f8f9fa" style="text-align: center;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #f8f9fa; border-bottom-color: #0F4C81; border-bottom-style: solid; border-bottom-width: 10px; border-top-width: 0; mso-line-height-rule: exactly">
                                <!-- BEGIN PREHEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                        <tbody><tr><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">
                                                <table class="mcnTextBlock" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                    <tbody><tr><td valign="top" style="text-align:center;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">
                                                            <table align="center" class="mcnTextContentContainer" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                <tbody><tr><td align="center" valign="top" style="text-align:center;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #ffffff; font-family: Helvetica; font-size: 11px; line-height: 125%; mso-line-height-rule: exactly; padding: 9px 18px; text-align: center"><img align="center" alt="" height="40" src="cid:for_mail.PNG" style="-ms-interpolation-mode: bicubic; border: 0; height: auto !important; margin: 0px; margin-bottom:10px; outline: none; text-decoration: none; width: 180px" width="180" loading="lazy"> </td></tr></tbody>
                                                            </table>
                                                            </td></tr></tbody>
                                                </table>
                                                </td></tr></tbody>
                                    </table>
                                <!-- // END PREHEADER -->
                                </td></tr><tr><td align="center" valign="top" bgcolor="#ffffff" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #ffffff; border-bottom-width: 0; border-top-width: 0; mso-line-height-rule: exactly"><!-- BEGIN UPPER BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
                                        <tbody><tr style="border-bottom:1px solid #EFF1F3;border-left:1px solid #EFF1F3;border-right:1px solid #EFF1F3;"><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly;padding-top:30px; padding-bottom:30px; padding-left:20px;padding-right:20px;">
                                                <table class="mcnTextBlock" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                    <tbody><tr><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">
                                                            <table align="left" class="mcnTextContentContainer" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                <tbody><tr><td align="left" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Verdana, Geneva, sans-serif; font-size: 15px; line-height: 125%; mso-line-height-rule: exactly; padding: 9px 18px 0px 18px; text-align: left"><span style="font-family: arial,helvetica neue,helvetica,sans-serif">Hi <b>{{user.username}}</b>,<br>
                                                                        <br>
                                                                        당신이 Bookmark한 종목(들)은 아래와 같습니다! </span></td></tr></tbody>
                                                            </table>
                                                            </td></tr></tbody>
                                                </table>
            
                                                <table class="mcnTextBlock" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                    <tbody><tr><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">

                                                            <table align="left" class="mcnTextContentContainer" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                <tbody><tr><td align="left" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Verdana, Geneva, sans-serif; font-size: 15px; line-height: 125%; mso-line-height-rule: exactly; padding: 9px 18px 5px; text-align: left">
                                                                        <table style="min-width: 100%; width: 100%" width="100%">
                                                                            <tbody>
                                                                                <tr><td style="border:1px solid #C2C7D0; padding: 12px; border-radius: 4px;">
                                                                                    <!-- {% if bookmarks %}
                                                                                    {% for bookmark in bookmarks %} -->
                                                                                    <!-- Some info -->
                                                                                    <h2 align="left" style="color: #0F4C81; display: block; font-family: arial,helvetica neue,helvetica,sans-serif; font-weight: bold; font-size: 18px; font-weight: normal; letter-spacing: normal; line-height: 125%; margin: 0; padding: 0 0 4px; text-align: left;"><a href="" style="text-decoration: none; color: #0F4C81; font-family: arial,helvetica neue,helvetica,sans-serif; font-weight: bold; font-size: 18px; font-weight: normal;" target="_blank" title="Solve plus-minus!" rel="noreferrer noopener"><b>{{ bookmark.stock.company_name}}</b>종목의 예측결과</a></h2>
                                                                                    <span style="font-family: arial,helvetica neue,helvetica,sans-serif; color: #">예측 패턴:{{ bookmark.stock.last_pattern}}</span>
                                                                                    <span style="font-family: arial,helvetica neue,helvetica,sans-serif; color: #">예측 퍼센트:{{ bookmark.stock.predict_percentage}}</span>
                                                                                    <span style="font-family: arial,helvetica neue,helvetica,sans-serif; color: #">상승?하락?:{{ bookmark.stock.increase_or_decrease}}</span>
<!--                                                                                     
                                                                                    {% endfor %}
                                                                                    {% else %} -->
                                                                                    
                                                                                    <span style="font-family: arial,helvetica neue,helvetica,sans-serif; color: #">Bookmark 해 둔 종목이 없습니다!<br></span>
                                                                                    <span style="font-family: arial,helvetica neue,helvetica,sans-serif; color: #">북마크를 한 종목이 있다면 메일이 조금 더 의미있어질 겁니다!!</span>
<!-- 
                                                                                    {% endif %} -->
                                                                                </td></tr></tbody>
                                                                        </table>
                                                                        </td></tr></tbody>
                                                            </table>
            
                                                            <table class="mcnButtonBlock" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                <tbody><tr><td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly; padding: 18px">
                                                                        <table class="mcnButtonContentContainer" bgcolor="#0F4C81" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #0F4C81; border-collapse: separate !important; border-radius: 3px; mso-table-lspace: 0pt; mso-table-rspace: 0pt">
                                                                            <tbody><tr><td align="center" valign="middle" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: Arial; font-size: 16px; mso-line-height-rule: exactly; padding: 15px;color:#fff;"><a class="mcnButton" href="https://www.fastock.com" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #ffffff; display: block; font-weight: bold; letter-spacing: normal; line-: 100%; mso-line--rule: exactly; text-align: center; text-decoration: none; word-wrap: break-word" target="_blank" title="Solve plus-minus!" rel="noreferrer noopener">Check on the website</a></td></tr></tbody>
                                                                        </table>
                                                                        </td></tr></tbody>
                                                            </table>
            
                                                            <table class="mcnTextBlock" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                <tbody><tr><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">
                                                                        <table align="left" class="mcnTextContentContainer" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                            <tbody><tr><td align="left" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Verdana, Geneva, sans-serif; font-size: 15px; line-height: 125%; mso-line-height-rule: exactly; padding: 9px 18px; text-align: left">
                                                                                    <p><span style="font-family: arial,helvetica neue,helvetica,sans-serif">Just for you,<br>
                                                                                    The STOCKer team</span></p>
                                                                                    </td></tr></tbody>
                                                                        </table>
                                                                        </td></tr></tbody>
                                                            </table>
                                                            </td></tr></tbody>
                                                </table>
                                                <!-- // END UPPER BODY --></td></tr><tr><td align="center" valign="top" bgcolor="#eff1f3" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #eff1f3; border-bottom-width: 0; border-top-width: 0; mso-line-height-rule: exactly"><!-- BEGIN LOWER BODY // -->
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                    <tbody><tr><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">&nbsp;</td></tr></tbody>
                                                </table>
                                                <!-- // END LOWER BODY --></td></tr><tr><td align="center" valign="top" bgcolor="#f8f9fa" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #f8f9fa; border-bottom-width: 0; border-top-width: 0; mso-line-height-rule: exactly"><!-- BEGIN FOOTER // -->
                                                <table border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                    <tbody><tr><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">
                                                            <table class="mcnTextBlock" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                <tbody><tr><td valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-line-height-rule: exactly">
                                                                        <table align="left" class="mcnTextContentContainer" border="0" cellpadding="0" cellspacing="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt" width="100%">
                                                                            <tbody><tr><td align="center" valign="top" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 11px; line-height: 125%; mso-line-height-rule: exactly; padding: 9px 18px; text-align: center"><br>
                                                                                    <span style="color: #808080"><span style="font-family: arial,helvetica neue,helvetica,sans-serif">You are receiving this email because you have email notifications enabled on FASTOCK account. <br>자세한 정보가 더 궁금하다면? 👉https://www.fastock.com<br> ☎ 문의 autota87@gmail.com 또는 사이트의 질문게시판을 활용해주세요!</span></span></td></tr></tbody>
                                                                        </table>
                                                                        </td></tr></tbody>
                                                            </table>
                                                            </td></tr></tbody>
                                                </table>
                                                <!-- // END FOOTER --></td></tr></tbody>
                                    </table>
                                    <!--[if gte mso 9]>
                                    </td></tr></tbody></table>
                                    <![endif]--></td></tr>
                            
                        </tbody></table>
                        </td></tr></tbody>
                
            </table>
            </center>

    


</body>

</html>
