

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        .hello {
            font-family: 'Noto Serif KR', serif;
        }
    </style>
    

</head>
<body>
    
    
    <div ><img src='cid:for_mail.PNG' width="10%", height="5%"/></div>
    <br/>
                                       
    {% if bookmarks %}
        <div style="font-size: 18px; font-family: 'Roboto', sans-serif; border-radius: 5px;padding: 0.6em 1em;background: #F1F1F3;"> 📊 Prediction Report </div>
        <br/>
        <div style="font-family: 'Roboto', sans-serif;text-indent: 2em;"> <b>{{user.username}}</b>님께서 Bookmark한 종목(들)은 아래와 같습니다!  </div>
        <hr/>
        <br/>
        {% for bookmark in bookmarks %}
        <div style="font-size: 13px; font-family: 'Roboto', sans-serif;text-indent: 2em;" ><b>{{ bookmark.stock.company_name}}</b>종목의 예측결과</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 3em;">예측 패턴:{{ bookmark.stock.last_pattern}}</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 3em;">예측 퍼센트:{{ bookmark.stock.predict_percentage}}</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 3em;">상승?하락?:{{ bookmark.stock.increase_or_decrease}}<hr/></div>
        
        {% endfor %}
        
    {% else %}
        <div style="font-size: 18px; font-family: 'Roboto', sans-serif; border-radius: 5px;padding: 0.6em 1em;background: #F1F1F3;"> 📊Prediction Report </div>
        <br/>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 2em;"> <b>{{user.username}}</b>님께서 Bookmark 해 둔 종목이 없습니다!</div>
        <div style="font-size: 13px;font-family: 'Roboto', sans-serif;text-indent: 2em;"> 북마크를 한 종목이 있다면 메일이 조금 더 의미있어질 겁니다!! </div>
    
    {% endif %}
    
    <br/>
    <br/>

    <div style="font-family: 'Roboto', sans-serif;"> 자세한 정보가 더 궁금하다면? 👉https://www.fastock.com</div>
    <div style="font-family: 'Roboto', sans-serif;">☎ 문의 autota87@gmail.com 또는 사이트의 질문게시판을 활용해주세요! </div>
    <div style="float:left; font-family: 'Roboto', sans-serif;" >- fastock 드림 -</div>
</body>
</html>
