{% extends "stock/base.html" %}

{% block contents %}

<!-- Begin Page Content -->
<div class="container-fluid ">

    <!-- Page Heading -->
   
    <h1 class="m-0 text-primary">Stock Market List</h1>
    <h4 class="mb-4">Search stock item whatever you want!<br/> NASDAQ </h4>

    <!-- DataTales Example -->
    <div class="card card-body shadow mb-4">
        <div class="mb-4 text-center"> 

            <a href='{% url "market_list_nasdaq" %}' class="d-none d-sm-inline-block btn btn-lg btn-primary shadow-sm">NASDAQ</a>
            <a href='{% url "market_list_kospi" %}' class="ml-3 d-none d-sm-inline-block btn btn-lg btn-primary shadow-sm">KOSPI</a>

        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- 상승률 TOP5 -->
            <div class="6 col-lg-6">
                <div class="card shadow mb-4">

                    <!-- Card Body -->
                    <div class="card-body">
                        <h3 class="text-primary text-center">Increasing TOP5</h3>
                        <table>
                        <!-- {{ increasechart }} -->
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr class="text-primary bg-gray-100">
                                <th>STOCK</th>
                                <th>FLUCTUATION RATE</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for b in increases %}
                                    <tr>
                                        <td><a class = wow href="{% url 'stock_detail' stock_code=b.stock_code %}">{{ b.company_name }}</a></td>
                                        <td class="text-danger">{{ b.increase }}↑</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 하락률 TOP5 -->
            <div class="6 col-lg-6">
                <div class="card shadow mb-4">

                    <!-- Card Body -->
                    <div class="card-body">
                        <h3 class="text-primary text-center">Decreasing TOP5</h3>
                            <table>
                                <!-- {{ increasechart }} -->
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr class="text-primary bg-gray-100">
                                        <th>STOCK</th>
                                        <th>FLUCTUATION RATE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for b in decreases %}
                                            <tr>
                                                <td><a class = wow href="{% url 'stock_detail' stock_code=b.stock_code %}">{{ b.company_name }}</a></td>
                                                <td class="text-danger">{{ b.decrease }}↓</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </table>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive text-center">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr class="text-primary bg-gray-100">
                    <th>STOCK</th>
                    <!--디자인상으로는 이곳에 가격-->
                    <th>FLUCTUATION</th>
                    <th>FLUCTUATION RATE</th>
                </tr>
            </thead>
            <tfoot>
                <tr class="text-primary bg-gray-100">
                    <th>STOCK</th>
                    <th>FLUCTUATION</th>
                    <th>FLUCTUATION RATE</th>
                </tr>
            </tfoot>
            <tbody>
                {% for stock in posts %}
                <tr>
                    <!-- <td>{{ forloop.counter }}</td> -->
                    <td>
                        <a class = wow href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{ stock.company_name }}</a>
                    </td>
                    <td>{{ stock.fluctuation_width }}</td>
        
                    {% if stock.increase %}
                    <td class="text-danger">{{ stock.increase }}</td>
                    {% else %}
                    <td class="text-danger">{{ stock.decrease }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">prev</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">prev</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in posts.paginator.page_range %}
            {% if page_number >= posts.number|add:-3 and page_number <= posts.number|add:3 %}
                {% if page_number == posts.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> <span> </span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> <span>  </span>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">next</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>

</div>


{% endblock %}

<!-- {% for stock in stocks %}
<div class=increase>
    {% if stock.increase %}
    <span><a href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{ stock.company_name }}</a></span>
    <span>{{ stock.fluctuation_width }}</span> <span>{{stock.increase}}</span>
</div>
    {% else%}
<div class=decrease>
    <span><a href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{ stock.company_name }}</a></span>
    <span>{{ stock.fluctuation_width }}</span> <span>{{stock.decrease}}</span>
</div>
    {% endif %}
{% endfor %} -->