<head>
</head>


<body>
    
    <style>
        li {
            float: left;
            list-style:none;
            margin-right: 5px;
        }
    </style>


    <h1>Stock market list</h1>
    <p>stock market 화면에서 더보기 눌렀을 때 나오는 리스트 화면입니다<p>

    <h2 class=cosqi_tile >코스피 종목 목록</h2>

    <form class="form-inline my-2 my-lg-0" action="{% url 'market_list_for_search' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!-- <span>종목이름 <span>등락폭</span> <span>등락율(상승/하락)</span> -->
    <div class="container my-3">
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th>종목이름</th>
                    <th>등락폭</th>
                    <th>등락율</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in posts %}
                <tr>
                    <!-- <td>{{ forloop.counter }}</td> -->
                    <td>
                        <a class = wow href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{ stock.company_name }}</a>
                    </td>
                    <td>{{ stock.fluctuation_width }}</td>
        
                    {% if stock.increase %}
                    <td>{{ stock.increase }}</td>
                    {% else %}
                    <td>{{ stock.decrease }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in posts.paginator.page_range %}
            {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
                {% if page_number == posts.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> <span> </span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a> <span>  </span>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>


</body>

<!-- {% for stock in stocks %}
<div class=increase>
    {% if stock.increase %}
    <span><a href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{ stock.company_name }}</a></span>
    <span>{{ stock.fluctuation_width }}</span> <span>{{stock.increase}}</span>
</div>
    {% else%}
<div class=decrease>
    <span><a href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{ stock.company_name }}</a></span>
    <span>{{ stock.fluctuation_width }}</span> <span>{{stock.decrease}}</span>
</div>
    {% endif %}
{% endfor %} -->