{% extends "stock/base.html" %}

{% load staticfiles%}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">QnA</h1>
                    </div>
                <div class="container">
                    <!-- Content Row -->
                    <div class="row">
                        <!-- //이름 입력 폼 -->
                        <div class="col-md-4"> 
                        <div class="form-group"> 
                        <label for="name" class="text-primary">NAME</label> 
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name"> 
                        </div> 
                        </div> 


                        <!-- //제목 입력 폼 -->
                        <div class="col-md-8"> 
                        <div class="form-group"> 
                        <label for="pass" class="text-primary">Title</label> 
                        <input type="tel" class="form-control" name="pass" id="pass" placeholder="Enter title"> 
                        </div> 
                        </div>  

                         <!-- 이메일 입력 폼  -->
                        <!-- <div class="col-md-4 form-group"> 
                        <label for="email" class="text-primary">Email address</label> 
                        <input type="email" class="form-control" name ="email" id="email" placeholder="Enter email"> 
                        </div>   -->
                    
                        <!-- //글내용 입력 폼  -->
                        <div class="col-md-12 form-group">  
                        <label for="content" class="text-primary">Comment:</label> 
                        <textarea class="form-control" rows="10" name="content" id="content"></textarea>
                        </div> 
                        <!-- //버튼 저장하기 -->
                        <div class="container " style='width:100px'> 
                        <input class="btn btn-primary" type="submit" value=" save "> 
                        </div>  
            
                    </div>
                </div>
            </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}