{% extends "stock/base.html" %}

{% load staticfiles%}

{% block contents %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">QnA</h1>
                    </div>

                    <div class="card-clear">
                    <form method="post" class="post-form my-3">
                            {% csrf_token %}
                            <!-- Content Row -->
                            <div class="row">
                                <!-- //제목 입력 폼 -->
                                <div class="col-md-8"> 
                                    <div class="form-group"> 
                                        <label for="title" class="text-primary">Title</label> 
                                        <input type="text" class="form-control" name="title" id="title" placeholder="Enter title"
                                               value="{{ form.title.value|default_if_none:'' }}">
                                    </div> 
                                </div>  

                                <!-- //이름 입력 폼 -->
                                {% comment %} 이름은 고냥 현재 사용자로 띄우는 거 어떤가요?? 좋아요.{{user.username}}말하시는거죠?  {% endcomment %}
                                <div class="col-md-4"> 
                                    <div class="form-group"> 
                                        <label for="name" class="text-primary">Name</label> 
                                        <input type="text" class="form-control" name="name" id="name" value="{{user.username}}"> 
                                    </div> 
                                </div> 

                                <!-- 이메일 입력 폼  -->
                                <!-- <div class="col-md-4 form-group"> 
                                <label for="email" class="text-primary">Email address</label> 
                                <input type="email" class="form-control" name ="email" id="email" placeholder="Enter email"> 
                                </div>   -->
                    
                                <!-- //글내용 입력 폼  -->
                                <div class="col-md-12 form-group">  
                                    <label for="content" class="text-primary">Content:</label> 
                                    <textarea class="form-control" rows="10" name="content" id="content">{{ form.content.value|default_if_none:'' }}</textarea>
                                </div> 

                                <!-- //버튼 저장하기 -->
                                <div class="container " style='width:100px'> 
                                    <input class="btn btn-primary" type="submit" value=" save ">
                                </div>  
            
                            </div>
                    </form>
                    </div>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}



<!--백에서 짠 코드-->
{% comment %} {% block content %}
<h1>질문 생성 페이지</h1>
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" id="title"
                   value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{% endblock %} {% endcomment %}