{% extends "stock/base.html"%}

{% block contents %}
                <!-- Begin Page Content -->
            <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="mb-4 text-primary">Review</h1>
                    </div>
                <div class="container">
                    <form method="post" class="post-form my-3">
                    <!-- Content Row -->
                    {% csrf_token %}
        
                    <!-- 오류표시 Start -->
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                    <!-- 오류표시 End -->
                    <div class="row mx-5">
                        <!-- 제목 입력 폼 -->
                        <div class="col-md-8"> 
                        <div class="form-group"> 
                        <label for="name" class="text-primary">Title</label> 
                        <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title"
                               value="{{ form.title.value|default_if_none:'' }}"> 
                        </div> 
                        </div> 

                        <!-- 사용자이름 입력 폼 -->
                        <div class="col-md-4 form-group"> 
                        <label for="email" class="text-primary">User</label> 
                        <input type="email" class="form-control" name ="email" id="email" placeholder="{{user.username}}"> 
                        </div> 

                        <!-- //글내용 입력 폼  -->
                        <div class="col-md-12 form-group">  
                        <label for="content" class="text-primary">Comment:</label> 
                        <textarea class="form-control" rows="10" name="content" id="content">{{ form.content.value|default_if_none:'' }}</textarea>
                        </div> 

                        <!-- //버튼 저장하기 -->
                        <div class="container mt-4" style='width:100px'> 
                            <button type="submit" class="btn btn-primary">save</button>
                        </div>  
            
                    </div>
                </form>
                </div>
            
            </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}