<h1>리뷰 게시판 입니다.</h1>

{% block content %}
<h2>새로운 리뷰를 작성해 주세요</h2>
<div class="container">
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" id="title"
                   value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{% endblock %}



리뷰페이지는 간단한 거니까 리뷰리스트 페이지랑 리뷰개별 포트트 페이지 만들지 않고
한페이지에서 작성하고 그걸 나열해서 보여주는 식으로 구상함

{% if review_list %}
    {% for review in review_list.all %}
        여기에 리뷰 나열 하기
    {% endfor %}
{% else %}
    <h2>현재까지 등록된 리뷰가 없습니다.</h2>
{% endif %}