<!-- <h1>리뷰 게시판 입니다.</h1>

리뷰페이지는 간단한 거니까 리뷰리스트 페이지랑 리뷰개별 포트트 페이지 만들지 않고
한페이지에서 해결한다 
맨 위에는 리류를 작성 할 수 있는 폼이 있고 그 밑으로는 작성된 리뷰들을 나열해서 보여주는 식으로 구상함
리뷰를 만들고 저장하면 바로 밑에서 최신 리뷰를 볼 수 있음  -->

<!-- 리뷰페이지와 리뷰작성페이지 분리했습니다~~ -->

{% extends "stock/base.html" %}

{% block contents %}

<div class="container-fluid">

       <!-- Page Heading -->
       <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="mb-4 text-primary">Review</h1>
        <a href='{% url "review_create" %}' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-pencil-alt fa-fw text-white-50"><span class="mx-2"></i>create review</span>
        </a>
    </div>

    
    {% if not review_list %}
            <h1>Create Fastok's first review!</h1>
        {% else %}
            {% for review in review_list.all %}
                <!-- <div class="container"> 
                       <div class="card">
                        <div class="card-body">
                            <p class="font-weight-bold text-primary"> {{ review.title}} </p>
                            <p class=" "> {{review.content }} </p>
                            <div class=" text-right font-italic" style="font-size: small;"> {{review.create_date}}</div>
                        </div>
                    </div>
                </div> -->
            <div class="card shadow mx-3 my-3">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ review.title}}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Review</div>
                            <a class="dropdown-item" href="#">delete</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                 <!-- 제목 내용 순 -->
                 <p class=" "> {{review.content }} </p>
                 <div class=" text-right font-italic" style="font-size: small;"> {{review.create_date}}</div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
            
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
                    <div><br/></div>
</div>



{% endblock %}
