{% extends "stock/base.html" %}

{% block contents %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Review</h1>
                        <a href="{% url 'review_create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-pencil-alt fa-sm text-white-50"></i> 리뷰작성</a>
                       
                    </div>

                    <!-- Content Row -->
                   

                    <div class="row">

                        <!-- KOSPI -->
                        <div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">작성자 아이디</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Review</div>
                                            <a class="dropdown-item" href="#">수정</a>
                                            <a class="dropdown-item" href="#">삭제</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    후기내용 <br/><br/>
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                </div>
                            </div>
                        </div>

                        <div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">작성자 아이디</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Review</div>
                                            <a class="dropdown-item" href="#">수정</a>
                                            <a class="dropdown-item" href="#">삭제</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    후기내용 <br/><br/>
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                </div>
                            </div>
                        </div><div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">작성자 아이디</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Review</div>
                                            <a class="dropdown-item" href="#">수정</a>
                                            <a class="dropdown-item" href="#">삭제</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    후기내용 <br/><br/>
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                </div>
                            </div>
                        </div><div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">작성자 아이디</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Review</div>
                                            <a class="dropdown-item" href="#">수정</a>
                                            <a class="dropdown-item" href="#">삭제</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    후기내용 <br/><br/>
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                </div>
                            </div>
                        </div><div class="6 col-lg-4">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">작성자 아이디</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Review</div>
                                            <a class="dropdown-item" href="#">삭제</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    후기내용 <br/><br/>
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                    Fastock 정말 유용하고 좋아요ㅎㅎ 바로 유료 멤버십도 가입했답니다~~
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}