
{% extends "stock/base.html" %}
{% block contents %}
<h1>Stock detail</h1>
<p>stock 하나 클릭했을 때 나오는 detail 화면입니다<p>
    <form role="form" action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" value="Add to Bookmark" name="mybtn">
    </form>
<h2>{{ companyName }}</h2>
{% if chart %}
    <img src = "data:image/png;base64, {{chart|safe}}">
{% endif %}
<div class="row mt-5">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
            {% for list in vals.items %}
                <li class="list-group-item">{{ list }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}