{% extends "stock/base.html" %}

{% block contents %}

                    <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <form role="form" action='' method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="Add to Bookmark" name="mybtn" onclick="return confirm('정말 북마크에 담으시겠어요? ');">
                    </form>
                    <ul class="list-inline"> 
                        <li class="section-heading text-uppercase h1 fw-bolder list-inline-item">{{ companyName }}</li>  <!--종목이름-->
                    </ul>


                    <!-- Graph & chart -->
                    <div class="row">

                        <!-- Graph -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="m-0 font-weight-bold text-primary">chart</div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                            {% if chart %}
                                            <img src = "data:image/png;base64, {{chart|safe}}" class= "chart-img">
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- chart -->
                        <div class="col-xl-4 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">About</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <table class="table table-bordered">
                                            {% for keys, values in vals.items %}
                                            <tr class="text-primary bg-gray-100">
                                                <th>{{ keys }}</th>
                                                <td>{{ values }}</td>
                                            </tr>
                                                {% endfor %}
                                        </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 패턴예측 -->

                    <div class="row">

                        <div class="col-xl-4 col-lg-7">

                            <!-- 패턴 설명 -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">About Pattern</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <table class="table table-bordered">
                                            <tr class="text-primary bg-gray-100">
                                                <th>예측된 패턴</th>
                                                <td>{{ predictedLabel }}</td>
                                            </tr>
                                            <tr class="text-primary bg-gray-100">
                                                <th>해당 패턴일 확률</th>
                                                <td>{{ probability }}%</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- 패턴 그래프 -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">chart</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                            {% if bar_chart %}
                                            <img src = "data:image/png;base64, {{bar_chart|safe}}" class= "chart-img">
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


{% endblock %}