<body>
    <form class="form-inline my-2 my-lg-0" action="{% url 'market_list_for_search' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% block content %}
        {% if not stocks %}
            <h1>검색 결과가 없습니다</h1>
        {% else %}
            {% for stock in stocks.all %}
            <div class="container"> 
                <div class="card">
                    <div class="card-body">
                        <a class = wow href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{ stock.company_name }}</a><span>{{ stock.stock_code }}</span> 

</p>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% endif %}
    {% endblock %}

</body>